
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/layui-v2.5.7/layui/layui.js"></script>
    <link href="~/Scripts/layui.css" rel="stylesheet" />
    <title>Product</title>
</head>
<body style=" margin:auto; width:1100px; margin-top:20px">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="background-color: #EFEFEF; border-bottom: 1px solid #e0dede;height:30px;width:1100px; ">
                <div class="row">
                    <div class="col-md-3 ">
                        <label style="margin-top: 5px">产品管理</label>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-xs-1 col-xs-offset-9">
                                <a><input type="button" class="btn btn-primary btn-sm" style="width:60px;" value="新增" id="y-modalBtnAdd" data-toggle="modal" data-target="#myModal"></a>
                            </div>
                            <div class="col-xs-2">
                                <a><input type="button" class="layui-btn layui-btn-danger layui-btn-sm" style="width:60px;" value="删除" onclick="del()"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    @*背景颜色可以自己选*@
    <div style="">
        @*//搜索*@
        <div style="margin-left:20px">
            <a style="text-decoration: none ">产品</a>
            <input type="text" name="name" placeholder="请输入产品名" width="300" class="layui-text" id="productName" />
            <a style="text-decoration: none ">类别</a>
            <select style="width:160px;height:26px" id="CategoryId_1" name="CategoryId">
                <option value="0">请选择类别</option>
                @foreach (var a in ViewBag.ProductLeixs)
                {
                    <option value="@a.productLeixNum">@a.productLeixName</option>
                }
            </select>
            <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" style="width:60px; height:28px" onclick="Set()">搜索</button>
        </div>

        <div>
            <table class="layui-table" id="tab">
                <thead>
                    <tr>
                        <td><input type="checkbox" name="name" value="" id="check" /></td>
                        <th>产品编号</th>
                        <th>产品名称</th>
                        <th>产品数量</th>
                        <th>单价</th>
                        <th>规格</th>
                        <th>产品类别</th>
                        <th>单位</th>
                        <th>备注</th>
                        <th>编辑</th>
                    </tr>
                </thead>
                <tbody id="tba">
                </tbody>
            </table>
        </div>
    </div>

    <div id="demo"></div>



    <div class="modal fade" id="myModal" data-remote="/home/test">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增产品</h4>
                </div>
                <div class="modal-body">
                    <table style="border-collapse:separate; border-spacing:0px 10px;">
                        <tr>
                            <td>
                                <label style="font-size:14px">产品编号</label>
                            </td>
                            <td>
                                <input type="text" name="phone" lay-verify="required" autocomplete="off" class="layui-input" style="height: 36px; width: 460px; margin-left: 15px" placeholder="自动编程，无需输入" readonly="readonly">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">产品名称</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="Name" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px" placeholder="请输入产品名称">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">产品类别</label>
                            </td>
                            <td>
                                <select style="width:460px;height:36px;margin-left:15px;margin-left:15px" id="productLeixNum" name="CategoryId" class="layui-select">
                                    <option value="0">请选择产品类别</option>
                                    @foreach (var a in ViewBag.ProductLeixes)
                                    {
                                        <option value="@a.productLeixNum">@a.productLeixName</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">产品数量</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="productCount" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px" placeholder="请输入产品数量">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">单价</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="price" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px" placeholder="请输入产品单价">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">默认库位</label>
                            </td>
                            <td>
                                <select style="width:460px;height:36px;margin-left:15px;margin-left:15px" id="LocationNum" name="CategoryId" class="layui-select">
                                    <option value="0">请选择存放库位</option>
                                    @foreach (var a in ViewBag.Location)
                                    {
                                        <option value="@a.LocationNum">@a.LocationName</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">需求客户</label>
                            </td>
                            <td>
                                <select style="width:460px;height:36px;margin-left:15px;margin-left:15px" id="customerNum" name="CategoryId" class="layui-select">
                                    <option value="0">请选择客户</option>
                                    @foreach (var a in ViewBag.Customers)
                                    {
                                        <option value="@a.customerNum">@a.customerName</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">产品条码</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="Probarcode" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">规格</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="Specifications" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">单位</label>
                            </td>
                            <td>
                                <select style="width:460px;height:36px;margin-left:15px;margin-left:15px" id="CompanyNum" name="CategoryId" class="layui-select">
                                    <option value="0">请选择单位</option>
                                    @foreach (var a in ViewBag.Company)
                                    {
                                        <option value="@a.CompanyNum">@a.CompanyName</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">备注</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="contents" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px">
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="Insert()">保存</button>
                </div>
            </div>
        </div>
    </div>


    @*修改*@
    <div class="modal fade" id="myModal_1" data-remote="/home/test">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">编辑产品</h4>
                </div>
                <div class="modal-body">
                    <table style="border-collapse:separate; border-spacing:0px 10px;">
                        <tr>
                            <td>
                                <label style="font-size:14px">产品编号</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="productNum_1" lay-verify="required" autocomplete="off" class="layui-input" style="height: 36px; width: 460px; margin-left: 15px" placeholder="自动编程，无需输入" readonly="readonly">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">产品名称</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="Name_1" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px" placeholder="请输入产品名称">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">产品类别</label>
                            </td>
                            <td>
                                <select style="width:460px;height:36px;margin-left:15px;margin-left:15px" id="productLeixNum_1" name="CategoryId" class="layui-select">
                                    <option value="0">请选择产品类别</option>
                                    @foreach (var a in ViewBag.ProductLeixes)
                                    {
                                        <option value="@a.productLeixNum">@a.productLeixName</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">产品数量</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="productCount_1" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px" placeholder="请输入产品数量">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">单价</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="price_1" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px" placeholder="请输入产品单价">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">默认库位</label>
                            </td>
                            <td>
                                <select style="width:460px;height:36px;margin-left:15px;margin-left:15px" id="LocationNum_1" name="CategoryId" class="layui-select">
                                    <option value="0">请选择存放库位</option>
                                    @foreach (var a in ViewBag.Location)
                                    {
                                        <option value="@a.LocationNum">@a.LocationName</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">需求客户</label>
                            </td>
                            <td>
                                <select style="width:460px;height:36px;margin-left:15px;margin-left:15px" id="customerNum_1" name="CategoryId" class="layui-select">
                                    <option value="0">请选择客户</option>
                                    @foreach (var a in ViewBag.Customers)
                                    {
                                        <option value="@a.customerNum">@a.customerName</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">产品条码</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="Probarcode_1" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">规格</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="Specifications_1" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">单位</label>
                            </td>
                            <td>
                                <select style="width:460px;height:36px;margin-left:15px;margin-left:15px" id="CompanyNum_1" name="CategoryId" class="layui-select">
                                    <option value="0">请选择单位</option>
                                    @foreach (var a in ViewBag.Company)
                                    {
                                        <option value="@a.CompanyNum">@a.CompanyName</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label style="font-size:14px">备注</label>
                            </td>
                            <td>
                                <input type="text" name="phone" id="contents_1" lay-verify="required" autocomplete="off" class="layui-input" style="height:36px;width:460px;margin-left:15px">
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="udpata()">保存</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        Set();
        get(1, 10);
    });

    function get(pageIndex, pageSize) {
        //获取文本值
        var productName = document.getElementById("productName").value;
        var index = document.getElementById("CategoryId_1").selectedIndex;
        var productLeixNum = document.getElementById("CategoryId_1").options[index].value;
        $.ajax({
            type: "post",
            data: "{pageIndex:" + pageIndex + ",pageSize:" + pageSize + ",productName:'" + productName + "',productLeixNum:'" + productLeixNum + "'}",
            contentType: "application/json",
            dataType: "json",
            url: "/SZH/SelectProduct",
            success: function (result) {
                $("#tba tr").remove();
                var shu = 0;
                $.each(result, function (index, data) {
                    $("#tba").append("<tr>" +
                        " <td><input type='checkbox' name='chk' value='" + data.productNum
                        + "'/></td>" +
                        "<td>" +
                        data.productNum + "</td><td>" +
                        data.productName + "</td><td>" +
                        data.productCount + "</td><td>" +
                        data.price + "</td><td>" +
                        data.Specifications + "</td><td>" +
                        data.productLeixNum + "</td><td>" +
                        data.CompanyNum + "</td><td>" +
                        data.contents + "</td><td>" +
                        "<button class= 'layui-btn layui-btn-xs' onclick='selectOne(" + shu + ")'  data-toggle='modal' data-target='#myModal_1'> 编辑</button>" +
                        "<button class='layui-btn layui-btn-danger layui-btn-xs' onclick='deletes(" + shu + ")'>删除</button>"
                        + "</td></tr>");
                    shu++;
                })
            },
            error: function (res) {
                alert(res.responseText);
            }
        })
    };

    function Set() {
        //获取文本值
        var productName = document.getElementById("productName").value;
        var index = document.getElementById("CategoryId_1").selectedIndex;
        var productLeixNum = document.getElementById("CategoryId_1").options[index].value;
        $.ajax({
            type: "post",
            contentType: "application/json",
            data: "{ productName:'" + productName + "',productLeixNum:'" + productLeixNum + "'}",
            dataType: "json",
            url: "/SZH/SelectProducts",
            success: function (result) {
                //获取总条数
                rows = result;
                layui.use(['laypage', 'layer'], function () {
                    var laypage = layui.laypage
                        , layer = layui.layer;
                    //完整功能
                    laypage.render({
                        elem: 'demo',
                        count: rows,
                        layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                        jump: function (obj, first) {
                            //判断查询
                            if (first) {
                                get(1, 10);
                            } else if (!first) {
                                get(obj.curr, obj.limit);
                            }
                            console.log(obj)
                        }
                    });

                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        })
    };

    //删除
    function deletes(shu) {
        if (confirm('确定删除吗？')) {
            var name = document.getElementById("tab").getElementsByTagName("tr")[shu + 1].getElementsByTagName("td")[1].innerHTML;
            $.ajax({
                type: "post",
                data: "{id:'" + name + "'}",
                contentType: "application/json",
                dataType: "json",
                url: "/SZH/DeleteProducts",
                success: function (result) {
                    alert("删除成功！");
                    Set();
                },
                error: function (res) {
                    alert(res.responseText);
                }
            })
        }
    };
    //复选框
    $("#check").click(function () {
        var cf = $("#check").prop("checked");
        $("[name=chk]").prop("checked", cf);//prop设置属性值
    });


    //全选删除
    function del() {
        if (confirm('确认删除吗？')) {
            var count = 0;
            $("input[name='chk']:checked").each(function () {
                var n = $(this).parents("tr").index();
                var name = document.getElementById("tab").getElementsByTagName("tr")[n + 1].getElementsByTagName("td")[1].innerHTML;
                $.ajax({
                    type: "post",
                    data: "{id:'" + name + "'}",
                    contentType: "application/json",
                    dataType: "json",
                    url: "/SZH/DeleteProducts",
                    success: function (result) {
                        Set();
                    },
                    error: function (res) {
                        alert(res.responseText);
                    },
                });
                count++;
            });
            if (count > 0) {
                alert("有" + count + "项数据删除成功！");
            } else {
                alert("删除失败！");
            }
        }
    }

    //新增
    function Insert() {
        //产品名称
        var productName = document.getElementById("Name").value;
        //产品数量
        var productCount = document.getElementById("productCount").value;
        //产品条码
        var Probarcode = document.getElementById("Probarcode").value;
        //单价
        var price = document.getElementById("price").value;
        //规格
        var Specifications = document.getElementById("Specifications").value;
        //备注
        var contents = document.getElementById("contents").value;
        //产品类别
        var index = document.getElementById("productLeixNum").selectedIndex;
        var productLeixNum = document.getElementById("productLeixNum").options[index].value;
        //单位
        var index1 = document.getElementById("CompanyNum").selectedIndex;
        var CompanyNum = document.getElementById("CompanyNum").options[index1].value;
        //库位
        var index2 = document.getElementById("LocationNum").selectedIndex;
        var LocationNum = document.getElementById("LocationNum").options[index2].value;
        //客户
        var index3 = document.getElementById("customerNum").selectedIndex;
        var customerNum = document.getElementById("customerNum").options[index3].value;

        if (productName == "" || index == 0 || index1 == 0 || index2 == 0 || index3 == 0 || productCount == "" || price=="") {
            alert("请将有文字说明的必填项进行填写");
        } else {
            $.ajax({
                type: "post",
                data: "{productName:'" + productName + "',productCount:" + productCount + ",Probarcode:'" + Probarcode + "',price:" + price + ",Specifications:'" + Specifications + "',contents:'" + contents + "',productLeixNum:'" + productLeixNum + "',CompanyNum:'" + CompanyNum + "',LocationNum:'" + LocationNum + "',customerNum:'" + customerNum+"'}",
                contentType: "application/json",
                dataType: "json",
                url: "/SZH/InsertProduct",
                success: function (result) {
                    alert(result);
                    Set();
                    //产品名称
                   document.getElementById("Name").value="";
                    //产品数量
                    document.getElementById("productCount").value = "";
                    //产品条码
                    document.getElementById("Probarcode").value = "";
                    //单价
                    document.getElementById("price").value = "";
                    //规格
                    document.getElementById("Specifications").value = "";
                    //备注
                    document.getElementById("contents").value = "";
                    //产品类别
                    document.getElementById("productLeixNum").selectedIndex=0;
                    //单位
                    document.getElementById("CompanyNum").selectedIndex=0;
                    //库位
                    document.getElementById("LocationNum").selectedIndex=0;
                    //客户
                    document.getElementById("customerNum").selectedIndex = 0;
                    $('#myModal').modal('hide');
                },
                error: function (res) {
                    alert(res.responseText);
                }
            })
        }
    };

    //查询一条数据
    function selectOne(shu) {
        var name = document.getElementById("tab").getElementsByTagName("tr")[shu + 1].getElementsByTagName("td")[1].innerHTML;
        $.ajax({
            type: "post",
            data: "{id:'" + name + "'}",
            contentType: "application/json",
            dataType: "json",
            url: "/SZH/SelectOneProdut",
            success: function (result) {
                $.each(result, function (index, data) {
                    //产品编号
                    document.getElementById("productNum_1").value = data.productNum
                    //产品名称
                    document.getElementById("Name_1").value = data.productName;
                    //产品数量
                    document.getElementById("productCount_1").value = data.productCount;
                    //产品条码
                    document.getElementById("Probarcode_1").value = data.Probarcode;
                    //单价
                    document.getElementById("price_1").value = data.price;
                    //规格
                    document.getElementById("Specifications_1").value = data.Specifications;
                    //备注
                    document.getElementById("contents_1").value = data.contents;
                    //产品类别
                    document.getElementById("productLeixNum_1").value = data.productLeixNum;
                    if (document.getElementById("productLeixNum_1").value == "") {
                        document.getElementById("productLeixNum_1").selectedIndex = 0;
                    }
                    //单位
                    document.getElementById("CompanyNum_1").value = data.CompanyNum;
                    if (document.getElementById("CompanyNum_1").value == "") {
                        document.getElementById("CompanyNum_1").selectedIndex = 0;
                    }
                    //库位
                    document.getElementById("LocationNum_1").value = data.LocationNum;
                    if (document.getElementById("LocationNum_1").value == "") {
                        document.getElementById("LocationNum_1").selectedIndex = 0;
                    }
                    //客户
                    document.getElementById("customerNum_1").value = data.customerNum;
                    if (document.getElementById("customerNum_1").value == "") {
                        document.getElementById("customerNum_1").selectedIndex = 0;
                    }
                });
            },
            error: function (res) {
                alert(res.responseText);
            }
        })
    };
    //修改
    function udpata() {
        //编号
        var productNum = document.getElementById("productNum_1").value;
        //产品名称
        var productName = document.getElementById("Name_1").value;
        //产品数量
        var productCount = document.getElementById("productCount_1").value;
        //产品条码
        var Probarcode = document.getElementById("Probarcode_1").value;
        //单价
        var price = document.getElementById("price_1").value;
        //规格
        var Specifications = document.getElementById("Specifications_1").value;
        //备注
        var contents = document.getElementById("contents_1").value;
        //产品类别
        var index = document.getElementById("productLeixNum_1").selectedIndex;
        var productLeixNum = document.getElementById("productLeixNum_1").options[index].value;
        //单位
        var index1 = document.getElementById("CompanyNum_1").selectedIndex;
        var CompanyNum = document.getElementById("CompanyNum_1").options[index1].value;
        //库位
        var index2 = document.getElementById("LocationNum_1").selectedIndex;
        var LocationNum = document.getElementById("LocationNum_1").options[index2].value;
        //客户
        var index3 = document.getElementById("customerNum_1").selectedIndex;
        var customerNum = document.getElementById("customerNum_1").options[index3].value;
        if (productName == "" || index == 0 || index1 == 0 || index2 == 0 || index3 == 0 || productCount == "" || price == "") {
            alert("请将有文字说明的必填项进行填写");
        } else {
            $.ajax({
                type: "post",
                data: "{productNum:'" + productNum+"',productName:'" + productName + "',productCount:" + productCount + ",Probarcode:'" + Probarcode + "',price:" + price + ",Specifications:'" + Specifications + "',contents:'" + contents + "',productLeixNum:'" + productLeixNum + "',CompanyNum:'" + CompanyNum + "',LocationNum:'" + LocationNum + "',customerNum:'" + customerNum + "'}",
                contentType: "application/json",
                dataType: "json",
                url: "/SZH/UpdataProduct",
                success: function (result) {
                    alert(result);
                    Set();
                    $('#myModal_1').modal('hide');
                },
                error: function (res) {
                    alert(res.responseText);
                }
            })
        }
    };
</script>
